AWS_REGION=eu-west-1

S3_BUCKET=your-bucket-name

IOT_ENDPOINT=your-iot-endpoint-ats.iot.eu-west-1.amazonaws.com
IOT_CLIENT_ID=ec2-python-demo-01
IOT_TOPIC=street/incidents/test

BEDROCK_MODEL_ID=qwen.qwen3-vl-235b-a22b